<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reconocimiento</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
    <br>
    <div class="container">
        <div class="card">
            <div class="card-header">
                Analisis de Emociones - Diego P.A.
            </div>
            <div class="card-body">
                <form action="analizar">
            
                    <label for="imagen">URL de la imagen:</label>
                    <br>
                    <input type="text" name="imagen" id="imagen">
                    <br>
                    <br>
                    <button class="btn btn-primary">Analizar</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>